<footer>
	See the <a href="/attribution.html">Attribution & licensing</a> page for license information.
	<div class="badges">
    <a href="https://jigsaw.w3.org/css-validator/validator?lang=en&profile=css3svg&uri={{ site.base_url }}/{{ page.permalink }}&usermedium=all&vextwarning=&warning=1"><img src="/external/vcss.png" alt="This page has valid CSS!"></a>
		<a href="http://validator.w3.org/feed/check.cgi?url={{ site.base_url | url_encode }}/{{ collections.posts.rss }}"><img src="/external/valid-rss-rogers.png" alt="This page has valid RSS!" title="Validate my RSS feed"></a>
		<a href="https://ai-label.org/"><img src="/external/ai-label_banner-no-ai-used.svg" alt="This website was made without the use of AI."></a>
	</div>
</footer>