<footer>
	See the <a href="/attribution.html">Attribution & licensing</a> page for license information.
	<div>
    <a href="https://jigsaw.w3.org/css-validator/validator?lang=en&profile=css3svg&uri={{ site.base_url }}/{{ page.permalink }}&usermedium=all&vextwarning=&warning=1"><img style="border: 0; width: 88px; height: 31px;" src="/external/vcss.png" alt="Valid CSS!"></a>
		<a href="http://validator.w3.org/feed/check.cgi?url={{ site.base_url | url_encode }}/{{ collections.posts.rss }}"><img src="/external/valid-rss-rogers.png" alt="[Valid RSS]" title="Validate my RSS feed"></a>
	</div>
</footer>