<footer>
	See the <a href="/attribution.html">Attribution & licensing</a> page for license information
	& see the <a href="{{ site.base_url }}/links.html">Webrings & other links</a> page for different webrings and clubs I'm a member of.
	<div class="buttons">
    <a href="https://jigsaw.w3.org/css-validator/validator?lang=en&profile=css3svg&uri={{ site.base_url }}/{{ page.permalink }}&usermedium=all&vextwarning=&warning=1">{% render "image.liquid", imgLocation: "/images/buttons/valid-css", imgAlt: "This page has valid CSS!" %}</a>
		<a href="http://validator.w3.org/feed/check.cgi?url={{ site.base_url | url_encode }}/feed.json">{% render "image.liquid", imgLocation: "/images/buttons/valid-rss", imgAlt: "This page has valid RSS!" %}</a>
		<a href="https://ai-label.org/">{% render "image.liquid", imgLocation: "/images/buttons/no-ai", imgAlt: "This website was made without the use of AI." %}</a>
		{% render "animatedImage.liquid", imgLocation: "/images/buttons/anything-but-chrome", imgAlt: "Anything but Google Chrome." %}
		<a href="https://www.mozilla.org/en-US/firefox/">{% render "image.liquid", imgLocation: "/images/buttons/firefox-now", imgAlt: "Mozilla Firefox NOW." %}</a>
		<a href="https://blinkies.cafe/">{% render "image.liquid", imgLocation: "/images/buttons/blinkiesCafe", imgAlt: "blinkies.cafe" %}</a>r
	</div>
	<div class="blinkies">
		{% render "animatedImage.liquid", imgLocation: "/images/blinkies/i-love-miku", imgAlt: "I love Hatsune Miku." %}
		{% render "animatedImage.liquid", imgLocation: "/images/blinkies/adhd", imgAlt: "I have ADHD." %}
		{% render "animatedImage.liquid", imgLocation: "/images/blinkies/autism", imgAlt: "I have autism." %}
	</div>
</footer>