<header>
	<details>
		<summary>Menu</summary>
		<ul>
			<li><a href="/">Home Page</a></li>
			<li><a href="/contact.html">Socials & Contact</a></li>
			<li><a href="/posts.html">Posts</a></li>
			<li><a href="/attribution.html">Attribution & licensing</a></li>
			<li><a href="/links.html">Webrings & other links</a></li>
			<li><a href="/feed.rss">RSS</a></li>
			<li><a href="/feed.json">JSON feed</a></li>
		</ul>
	</details>
</header>