<header>
	<nav aria-label="Main" class="menu-container">
		<a href="/">Home Page</a>
		<a href="/contact.html">Socials & Contact</a>
		<a href="/posts.html">Posts</a>
		<a href="/attribution.html">Attribution & licensing</a>
		<a href="/links.html">Webrings & other links</a>
		<a href="/feed.rss">RSS feed</a>
		<a href="/feed.json">JSON feed</a>
	</nav>
</header>