<header>
	<div class="menu-container">
		<a class="menu-toggle" href="javascript:void(0)">Menu</a>
		<a href="/">Home Page</a>
		<a href="/contact.html">Socials & Contact</a>
		<a href="/posts.html">Posts</a>
		<a href="/attribution.html">Attribution & licensing</a>
		<a href="/links.html">Webrings & other links</a>
		<a href="/{{ collections.posts.rss }}">RSS feed</a>
		<a href="/{{ collections.posts.jsonfeed }}">JSON feed</a>
	</div>
</header>