* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}
a { text-decoration: none; }
a:hover { text-decoration: underline; }

header, footer, .menu-container { width: 100%; }

body, .menu-container, .prevnext {
	display: flex;

	flex-wrap: nowrap;
	align-content: center;
}
body, .prevnext {
	justify-content: space-between;
	align-items: center;
}
.menu-container, .prevnext { flex-direction: row; }

body {
	min-height: 100vh;
	
	flex-direction: column;
}

header {
	position: sticky;
	align-self: flex-start;
}

.menu-container {
	margin-bottom: 10px;
	padding: 10px;

	border-radius: 0 0 10px 10px;

	justify-content: space-around;
	align-content: space-around;
}
.menu-container * {
	flex-grow: 100;
	text-align: center;
}
@media (max-width: 800px) {
	.menu-container { flex-direction: column; }
	.menu-container * { width: 100%; }
}

body > main {
	padding: 20px;

	border-radius: 10px;
}
body > main h1, body > main h2, body > main h3, body > main h4, body > main h5, body > main h6 { margin: 10px 0; }
body > main p { margin: 5px 0; }
body > main li { margin-left: 15px; }
body > main :first-child { margin-top: 0; }
body > main :last-child { margin-bottom: 0; }
body > main .footnote-definition p { display: inline-block; }
body > main .footnote-definition, body > main .published { font-size: small; }

footer {
	padding: 10px 0;
	margin-top: 10px;

	border-radius: 10px 10px 0 0;
}
footer .buttons img { height: 31px; }
footer .blinkies img { height: 20px; }
footer .badges img { height: 15px; }
footer .buttons img, footer .blinkies img, footer .badges img { border: 0; }

.prevnext {
	margin: 0 auto;
}
.prevnext *, .tags > * { margin: 0 2px; }
.tags :first-child { margin-left: 0; }
.tags :last-child { margin-right: 0; }

body > main, .prevnext, .tags {
	max-width: 100%;
	width: fit-content;
}
footer, .prevnext *, .tags * { text-align: center; }

.e-content { margin: 10px 0; }

.johnvertisement {
	display: block;

	margin: auto;

	width: 732px;
	max-width: 100%;
	height: 94px;
	
	border: none;
}

@media (prefers-color-scheme: light) {
	html {
		background: var(--ctp-latte-crust);
		color: var(--ctp-latte-text);
	}

	.menu-container, body > main, footer { background: var(--ctp-latte-base); }

	a { color: var(--ctp-latte-blue); }
	a:visited { color: var(--ctp-latte-green); }

	::selection { background: rgba(var(--ctp-latte-overlay2-rgb) / 0.8); }
}
@media (prefers-color-scheme: dark) {
	html {
		background: var(--ctp-frappe-crust);
		color: var(--ctp-frappe-text);
	}

	.menu-container, body > main, footer { background: var(--ctp-frappe-base); }

	a { color: var(--ctp-frappe-blue); }
	a:visited { color: var(--ctp-frappe-green); }

	::selection { background: rgba(var(--ctp-frappe-overlay2-rgb) / 0.8); }
}